*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  background-image: url(image/fluffy-clouds-are-colored-by-a-setting-sun.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}  

header{
  margin-left: 10px;
  margin-top: 5px;
}
.content{
  margin-left:  45rem;
  color: rgb(251, 251, 252);

}

.hme , .abt , .service ,.cnt, .project{
  margin: 10px;
  font-weight: 900;
  font-size: 18px;
  
}

.hme:hover{
  background-color: aliceblue;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;

}
.cnt:hover {
  background-color: aliceblue;
  border: 1px solid white;
  border-radius: 5px;

}
.abt:hover {
  background-color: aliceblue;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;

}
.service:hover {
  background-color: aliceblue;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;

}

.project:hover{
  background-color: aliceblue;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;

}

.comment{
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.small_thinks{
  text-align: center;
  margin-top: 1rem;
  font-weight: 900;
}

.submit{
  padding: 7px;
  margin-left: 10px;
  border: 4px solid whitesmoke;
  
}

.submit:hover{
  background-color: blue;
  color: aliceblue;
  cursor: pointer;
}